# 1. Compiled Executables
bgp_sim
*.o
*.out

# 2. Large Datasets
# Ignore all text and CSV files in the data folder to prevent massive uploads
data/*.txt
data/*.csv
# BUT keep our tiny test file so the repository is still testable
!data/test_caida.txt

# 3. OS & IDE Specific Files (Just to keep things clean)
.DS_Store
.vscode/
.idea/
*.swp
